<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/defaultLayout">

    <th:block layout:fragment="css">
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/databox/dataBoxList.js}"></script>
        <script>
            //const reqStorageStatCode = "[[${param.reqStorageStatCode}]]";
        </script>
    </th:block>

    <section class="member-container"  layout:fragment="contents">
    
    	<th:block th:replace="fragments/defaultSubHeader :: subHeaderFragment"></th:block>
    		
        <div id="maincontentswrap" >
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
        <section class="content" >
            <div class="sub-title-box">
                <h2>데이터박스 사용 신청</h2>
	            <div class="path">
    	            <ul class="clearfix">
                        <li><a href="/" class="home">홈</a></li>
          	            <li>연구분석 환경 관리</li>
               	        <li>데이터박스 사용 신청</li>                
               		</ul>
               	</div>
            </div>

            <section class="board-list-search-wrap a-c">
                <div class="custom-select search-select" style="width: 150px;">
                    <select ref="dtbxReqstSttusCd" v-model="cond.dtbxReqstSttusCd">
                        <option value="">전체</option>
                        <option v-for="option in dataBoxReqStatCodeList" v-bind:value="option.nm">{{option.dc}}</option>
                    </select>
                </div>
                <input type="text" v-model="cond.dtbxNm" @keyup="onKeyup" class="ml-10" placeholder="검색어를 입력하세요" maxlength="30">
                <a href="#" class="btn btn-basic btn-small ml-10" v-on:click="onclickSearch">검색</a>
            </section>

            <table class="contents-width table-list mt-50">
                <colgroup>
                    <col style="width:5%" />
                    <col style="width:16%" />
                    <col style="width:10%" />
                    <col style="width:18%" />
                    <col style="width:12%" />
                    <col style="width:15%" />
                    <col style="width:12%" />
                    <col style="width:12%" />
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">신청번호</th>
                    <th scope="col">데이터박스명</th>
                    <th scope="col">신청자</th>
                    <th scope="col">기업</th>
                    <th scope="col">상태</th>
                    <th scope="col">신청일자</th>
                    <th scope="col">접수일자</th>
                    <th scope="col">처리일자</th>
                </tr>
                </thead>
                <tbody v-if="dataBoxList.length == 0">
                <tr>
                    <td colspan="8" style="text-align: center">
                        데이터가 없습니다.
                    </td>
                </tr>
                </tbody>

                <tbody v-if="dataBoxList.length > 0">
                    <tr v-for="(item, idx) in dataBoxList">
                        <td>{{item.dtbxReqNo}}</td>
                        <td class="a-c">{{item.dtbxNm}}</td>
                        <td>{{item.chargerNm}}</td>
                        <td>{{item.insttNm}}</td>
                        <td v-if="item.dtbxReqstSttusCd === 'CANCEL'">신청-{{item.dtbxReqstSttusNm}}</td>
                        <td v-else>{{item.dtbxReqTyNm}}-{{item.dtbxReqstSttusNm}}</td>
                        <td>{{replaceDate(item.reqDt)}}</td>
                        <td>{{replaceDate(item.rceptDt)}}</td>
                        <td>{{replaceDate(item.processDt)}}</td>
                    </tr>
                </tbody>
                </table>

            <!-- 페이징 -->
            <section class="contents-width mt-40">
                <div class="pagination fl-l">
                    <a href="#" v-on:click="onclickPage(pageInfo.prev)"><span class="next"></span></a>
                    <a href="#" v-for="(page, idx) in pageInfo.pages" v-on:click="onclickPage(page)" v-bind:class="{active:pageInfo.curr==page}">
                        {{page}}
                    </a>
                    <a href="#" v-on:click="onclickPage(pageInfo.next)"><span class="prev"></span></a>
                </div>
                <a href="#" class="btn btn-basic btn-large fl-r" v-on:click="onclickReq" v-if="MY_ROLE==='ROLE_USER'">신청</a>
            </section>

        </section>
        </script>
    </section>
</html>