<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/defaultLayout">

    <th:block layout:fragment="css">
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/board/inquiryReg.js}"></script>
        <script>
            const inqryNo = "[[${param.inqryNo}]]";
        </script>
    </th:block>

    <section class="member-container" layout:fragment="contents">
    	<th:block th:replace="fragments/defaultSubHeader :: subHeaderFragment"></th:block>
    	
        <div id="maincontentswrap" >
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
        <section class="content" >
            <div class="sub-title-box">
                <h2>문의하기</h2>
                <p class="eng">inquiry</p>
            </div>

            <section class="contents-width join-cont-box mt-50" v-if="inquiryReg">
                <h3>개인정보취급방침 동의</h3>
				<label class="checkbox-container checkbox-container2 large">
					<input type="checkbox" id="agreeY" name="agree" value="Y" v-model="saveInfo.agree">
					<span class="checkmark2" style="margin: 0"></span>
				</label>
                <div class="term-iframe">
                    <th:block th:insert="pages/user/private_policy.html"></th:block>
                </div>
            </section>

            <section class="contents-width join-cont-box mt-60 clearfix">
                <h3>문의내용</h3>
                <ul class="com-ul">
                    <li>
                        <span class="join-input-group w-100">
                            <label>문의유형<span>*</span></label>
                            <div class="custom-select"  style="width: 180px;">
                                <select v-model="saveInfo.inqryTycd" id="inquiryType" ref="inquiryType" onchange="selectChange()">
                                    <option value="">문의내용선택</option>
                                    <option v-for="(item, idx) in inquiryTypeList" v-bind:value="item.nm">{{item.dc}}</option>
                                </select>
                            </div>
                        </span>
                    </li>
                    <li>
                        <span class="join-input-group mr-40">
                            <label>공개여부<span>*</span></label>
                            <span class="radio-wrap join-radio">
                                <input type="radio" ref="publicY" id="publicY" v-model="saveInfo.othbcYn" value="Y" checked/>
                                <label for="publicY"><span></span>공개</label>
                                <input type="radio" ref="publicN" id="publicN" v-model="saveInfo.othbcYn" value="N"/>
                                <label for="publicN"><span></span>비공개</label>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="join-input-group w-100">
                            <label>제목<span>*</span></label>
                            <input v-if="inquiryReg"  type="text" ref="title" v-model="saveInfo.inqrySj" placeholder="제목을 입력해주세요" style="width: 100%;">
                            <input v-else type="text" ref="title" v-model="saveInfo.inqrySj" style="width: 100%">
                        </span>
                    </li>
                    <li>
                        <span class="join-input-group w-100">
                            <label>내용<span>*</span></label>
                            <textarea class="write-textarea" ref="contents" v-model="saveInfo.inqryCn" placeholder="내용을 입력해주세요"></textarea>
                        </span>
                    </li>
                </ul>

                <ul>
                    <li>
                        <span class="join-input-group w-100">
                            <label>첨부파일</label>
                            <p v-for="(item, idx) in inquiryFiles" style="display: flex; margin-top: 10px;">
                                <a href="#" class="btn btn-line-error" v-on:click="onClickOrgFileDelete(item.fileSeq)">삭제</a>
                                <input type="text" v-bind:value="item.fileNm" class="file-upload mr-30 ml-30" readonly>
                            </p>
                            <p v-for="idx in (maxFileCnt - inquiryFiles.length)" style="display: flex; margin-top: 10px;">
                                <a href="#" class="btn btn-line-error" v-on:click="onClickFileDelete(idx)">삭제</a>
                                <input type="file" v-bind:id="['uploadFile' + idx]" ref="['uploadFile' + idx]" name="uploadFile" style="display: none;" @change="onChange($event, idx)">
                                <input type="text" v-bind:id="['uploadText' + idx]" class="file-upload mr-30 ml-30" readonly>
                                <a href="#" class="btn btn-line-black" v-on:click="document.getElementById('uploadFile' + idx).click();">파일찾기</a>
                            </p>
                        </span>
                    </li>
                </ul>
            </section>

            <section class="contents-width a-c mt-60">
                <a href="#" class="btn btn-line-black btn-large" v-on:click="onclickCancel">취소</a>
                <a href="#" class="btn btn-basic btn-large ml-20" v-on:click="onclickSave">저장</a>
            </section>
        </section>

        </script>
    </section>
</html>