<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="padding:60px 40px;width:600px;height:860px;text-align:center">
    <h1><img src="https://kr.object.ncloudstorage.com/amc-test-upload-files/static/logo_amc.png" alt="Dr answer" width="124px" height="40px"></h1>
    <h2 style="margin-top:86px;padding-left:20px;font-size:40px;color:#000;line-height:0.8">데이터박스 반출 접수 안내</h2>

    <hr style="margin-top:55px;border:none;height:1px;width:40px;background:#000">
    <p style="margin-top:50px;font-size:18px;color:#333;line-height:1.8">
        안녕하세요.<br/>
        서울아산병원입니다.<br/>
        [[${userName}]] 님의 데이터박스 반출 승인이 진행됩니다.<br/>
        신청번호 : [[${exportReqSeq}]]<br/>
        데이터박스번호 : [[${dataBoxSeq}]]<br/>
        데이터박스명 : [[${dataBoxName}]]<br/>
        <br/>
    </p>
    <a href="http://223.130.130.209" style="display:block;margin-top:70px;width:600px;height:70px;background:#13a1af;font-size:18px;font-weight:bold;color:#fff;text-align:center;letter-spacing:1px;text-decoration:none;line-height:4">홈페이지 바로가기</a>
</div>


</body>
</html>