<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/mypageLayout">

    <th:block layout:fragment="css">
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/storage/myStorageReq.js}"></script>
        <script>
            const storgeReqstId = "[[${param.storgeReqstId}]]";
        </script>
    </th:block>

    <section class="mypage-container" layout:fragment="contents">
        <div id="maincontentswrap" >
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
            <section class="content" >

                <section class="mypage-content mt-40 mb-40">
                    <h3>저장 신청 데이터 보기</h3>

                    <section class="contents-width join-cont-box mt-30">
                        <h4>신청자 정보</h4>

                        <ul class="com-ul">
                            <li class=" bdr-b">
                                <span class="join-input-group mr-40">
                                    <label >신청자명</label>
                                    <p class="txt-data">{{reqStorageInfo.chargerNm}}</p>
                                </span>
                                <span class="join-input-group">
                                    <label >병원명</label>
                                    <p class="txt-data">{{reqStorageInfo.insttNm}}</p>
                                </span>
                            </li>
                            <li class=" bdr-b">
                                <span class="join-input-group mr-40">
                                    <label>질병주관병원 여부</label>
                                    <span class="radio-wrap join-radio">
                                        <input type="radio" id="radio3_op1" value="1" name="save-op3" v-bind:checked="reqStorageInfo.diseaseMainYn === 'Y'" disabled/>
                                        <label for="radio3_op1"><span></span>예</label>
                                        <input type="radio" id="radio3_op2" value="2" name="save-op3" v-bind:checked="reqStorageInfo.diseaseMainYn === 'N'" disabled/>
                                        <label for="radio3_op2"><span></span>아니오</label>
                                    </span>
                                </span>
                                <span class="join-input-group">
                                    <label>관리하는 질병</label>
                                    <p class="txt-data">{{reqStorageInfo.dissNm}}</p>
                                </span>
                            </li>
                            <li class=" bdr-b">
                                <span class="join-input-group mr-40">
                                    <label>연락처</label>
                                    <p class="txt-data">{{reqStorageInfo.chargerMoblphonNo}}</p>
                                </span>
                                <span class="join-input-group">
                                    <label >이메일</label>
                                    <p class="txt-data">{{reqStorageInfo.email}}</p>>
                                </span>
                            </li>
                            <li class=" bdr-b">
                                <span class="join-input-group ">
                                    <label >질병 책임자명</label>
                                    <p class="txt-data">{{reqStorageInfo.dissRspnberUserNm}}</p>
                                </span>
                            </li>
                        </ul>
                    </section>

                    <section class="contents-width join-cont-box mt-80">
                        <h4>신청 정보</h4>
                        <ul class="com-ul">
                            <li  class=" bdr-b">
                                <span class="join-input-group w-100">
                                    <label>저장 데이터명</label>
                                    <p class="txt-data">{{reqStorageInfo.storgeNm}}</p>
                                </span>
                            </li>
                            <li class=" bdr-b">
                                <span class="join-input-group mr-40">
                                    <label>신청일자</label>
                                    <p class="txt-data">{{reqStorageInfo.creatDt}}</p>
                                </span>
                                <span class="join-input-group">
                                    <label >처리상태</label>
                                    <p class="txt-data">{{reqStorageInfo.strgeReqSttusNm}}</p>
                                </span>
                            </li>
                        </ul>
                    </section>

                    <section class="contents-width join-cont-box mt-80">
                        <h4>생성 정보</h4>
                        <ul class="com-ul">
                            <li class=" bdr-b">
                                <span class="join-input-group w-100">
                                    <label>저장 요청 아이디</label>
                                    <p class="txt-data">{{reqStorageInfo.storgeReqstId}}</p>
                                </span>
                            </li>
                            <li class=" bdr-b">
                                <span v-if="reqStorageInfo.strgeReqSttusCd === 'S_ACC' || reqStorageInfo.strgeReqSttusCd === 'D_REJ'" class="join-input-group w-100">
                                    <label>저장소ID</label>
                                    <p class="txt-data">{{reqStorageInfo.bucketId}}</p>
                                </span>
                            </li>
                        </ul>
                    </section>

                    <section class="contents-width join-cont-box mt-80" v-if="reqStorageInfo.strgeReqSttusCd === 'S_ACC' ||
                                                           reqStorageInfo.strgeReqSttusCd === 'D_REQ' ||
                                                           reqStorageInfo.strgeReqSttusCd === 'D_ACC' ||
                                                           reqStorageInfo.strgeReqSttusCd === 'D_REJ'">
                        <h4>취소 정보</h4>
                        <span class="join-txt-caution" v-if="reqStorageInfo.strgeReqSttusCd === 'S_ACC'">* 승인상태면 필수 입력</span>
                        <ul class="com-ul">
                            <li v-if="reqStorageInfo.strgeReqSttusCd === 'S_ACC' ||
                                      reqStorageInfo.strgeReqSttusCd === 'D_REQ' ||
                                      reqStorageInfo.strgeReqSttusCd === 'D_ACC' ||
                                      reqStorageInfo.strgeReqSttusCd === 'D_REJ'"  class=" bdr-b">
                                <span class="join-input-group w-100">
                                    <label>취소사유<span v-if="reqStorageInfo.strgeReqSttusCd === 'S_ACC'">*</span></label>
                                    <input v-if="reqStorageInfo.strgeReqSttusCd === 'S_ACC'" ref="deleteResn" class="w-100" type="text" v-model="saveInfo.deleteResn" placeholder="승인상태이면 필수입력입니다.">
                                    <input v-else class="w-100" type="text" v-bind:value="reqStorageInfo.deleteResn" readonly>
                                </span>
                            </li>
                        </ul>
                    </section>

                    <section class="contents-width join-cont-box mt-80" v-if="reqStorageInfo.strgeReqSttusCd === 'S_REJ' || reqStorageInfo.strgeReqSttusCd === 'D_REJ'">
                        <h4>거절 정보</h4>

                        <ul class="com-ul">
                            <li class=" bdr-b">
                                <span class="join-input-group w-100">
                                    <label>거절사유</label>
                                    <input class="w-100" type="text" v-bind:value="reqStorageInfo.rejectResn" readonly>
                                </span>
                            </li>
                        </ul>
                    </section>

                    <section class="contents-width mt-70 a-c">
                        <a href="#" class="btn btn-line-black btn-large" v-on:click="onclickList">목록</a>
                        <a href="#" v-if="(reqStorageInfo.strgeReqSttusCd === 'S_REQ' || reqStorageInfo.strgeReqSttusCd === 'S_ACC')
                                           && MY_ROLE  === 'ROLE_MANAGER'"
                                    class="btn btn-line-error btn-large ml-20" v-on:click="onclickCancel">취소신청</a>
                    </section>

                 </section>
            </section>
        </script>
    </section>
</html>