<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="subHeaderFragment">
    <script th:src="@{/js/fragments/defaultSubHeader.js}"></script>

    <div class="sub-header-wrapper" id="subheadercontentswrap">
        <subheadercontents ref="subheadercontents"></subheadercontents>
    </div>

    <script type="text/x-template" id="sub-header-template" >
		<section class="page-bg">
    		<div class="circle01"></div>
    		<div class="circle02"></div>
    		<div class="circle03"></div>
    		<div class="circle04"></div>
    		<div class="circle05"></div>
    		<div class="circle06"></div>
    		<div class="circle07"></div>
    		<div class="circle08"></div>
    		<div class="circle09"></div>
    		<div class="circle10"></div>
    		<div class="circle11"></div>
    		<div class="circle12"></div>
    	</section>
    </script>

</div>
</html>